@font-face {
  font-family: "Fraunces";
  src: url("./assets/fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf");
}
@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/manrope/Manrope-VariableFont_wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.head {
  background: url(./assets/images/background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  position: relative;
  height: 730px;
  overflow-x: hidden;
}

.head .logo {
  padding: 35px 165px 0;
  display: flex;
  justify-content: space-between;
}
.head .logo img:hover {
  cursor: pointer;
}
.head .logo .btn {
  background-color: #24053e;
  color: #fff;
  border-bottom: 3px solid #44ffa1;
}
button {
  font-size: 18px;
  transition: 0.2s linear;
  border: none;
  outline: none;
}
.head .logo .btn:hover {
  cursor: pointer;
  color: #44ffa1;
}

.head .text {
  margin: auto;
}
.font-heading {
  font-family: "Fraunces";
}
.head .text h1 {
  font-size: 80px;
  color: #fff;
  width: 635px;
  text-align: center;
  margin: 56px auto 0;
}

.head .text .btn-2 {
  background-color: #44ffa1;
  width: 160px;
  height: 60px;
  border: 1px solid #44ffa1;
  outline: none;
  color: #24053e;
  margin: 35px auto 0;
}

.head .text .btn-2:hover {
  cursor: pointer;
  background-color: #24053e;
  color: #44ffa1;
}

.text .under-text {
  border-bottom: 3px solid #44ffa1;
}

.bg-pattern-1 {
  position: absolute;
  top: 116px;
  left: -138px;
}
.bg-pattern-2 {
  position: absolute;
  right: -48px;
  top: 315px;
}

.container-img {
  overflow: visible;
  position: absolute;
  left: 360px;
  top: 460px;
  z-index: 5;
}

.main-section {
  background: url(./assets/images/main-background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fcf8ff;
  text-align: center;
  margin-top: -137px;
  height: 960px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-section .offers {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  align-content: center;
  width: 1114px;
  gap: 25px;
  margin-top: 105px;
  color: #24053e;
}
.offer {
  display: flex;
  flex-direction: column;
  gap: 56px;
  width: 354px;
}

.offer-content {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.main-section .offer > p,
.footer-text p {
  font-family: "Manrope";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
.main-section h3,
.nbr {
  font-size: 32px;
  line-height: 40px;
  font-weight: 600;
}
.nbr {
  position: relative;
}
.nbr::after {
  content: "";
  width: 56px;
  height: 56px;
  border: 1px solid #584d62;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main-section p {
  font-family: "Manrope";
}
.footer {
  margin-top: 110px;
}

.footer-text {
  display: flex;
  flex-direction: column;
  transform: translate(-70px, 140px);
  padding: 64px;
  width: 730px;
  height: auto;
  background-color: #24053e;
  color: #fff;
  position: relative;
}
.footer-text > *:not(button) {
  margin-bottom: 32px;
}
.footer-text h2 {
  font-weight: 600;
  font-size: 56px;
  line-height: 64px;
}
.footer-text .btn-3 {
  width: 190px;
  height: 60px;
  border: 1px solid #44ffa1;
  background-color: #44ffa1;
  color: #24053e;
}
.footer-text .btn-3:hover {
  /* border: 1px solid # */
  background-color: #24053e;
  color: #44ffa1;
  cursor: pointer;
}

.bg-pattern-3 {
  position: absolute;
  top: 263px;
  right: 72.7px;
  left: 437px;
  bottom: 61px;
}

.logo-footer {
  margin: 220px 0 110px;
  text-align: center;
  display: block;
}
.socials {
  margin: 58px auto 110px;
}

.socials > *:not(:last-child) {
  margin-right: 20px;
}
.logo-dark {
  width: 116px;
  margin: auto;
}
.socials > svg > path {
  fill: #584d62;
  transition: 0.2s linear;
}
.socials > svg:hover {
  cursor: pointer;
}
.socials > svg:hover > path {
  fill: #24053e;
}

/* tablet screens */
@media (max-width: 768px) {
  .head {
    height: 540px;
  }
  .head .text h1 {
    font-size: 60px;
    line-height: 60px;
    font-weight: 600;
    width: 573px;
  }
  .head .logo {
    padding: 32px 40px 0;
  }
  .head .text .btn-2 {
    margin-top: 37px;
  }
  .container-img {
    left: 150px;
    top: 390px;
  }
  .container-img img {
    width: 514px;
    height: 296px;
  }
  .main-section .offers {
    gap: 48px;
    width: 573px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    transform: translateY(100px);
  }
  .offer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
    margin-bottom: 25px;
    width: 85%;
    margin: auto;
  }

  .nbr {
    margin-right: 20px;
  }

  .offer-content {
    gap: 16px;
  }

  .offer h3,
  .offer p {
    text-align: left;
    margin: 0;
  }
  .footer .center {
    margin-left: 40px;
  }
  .footer .center > img {
    width: 281px;
    height: 281px;
  }
  .footer-text {
    padding: 48px 56px 56px;
    width: 514px;
    height: auto;
    transform: translate(-103px, 236px);
  }
  .footer h2 {
    font-size: 48px;
    line-height: 56px;
  }
  .footer p {
    font-size: 16px;
    line-height: 28px;
  }
  .footer-text > *:not(button) {
    margin-bottom: 24px;
  }
  .logo-footer {
    margin-top: 300px;
  }
  .bg-pattern-1 {
    left: -227px;
  }
  .bg-pattern-2 {
    right: -98px;
  }
}

/* tablet screens */
@media (max-width: 375px) {
  .head {
    height: 480px;
    /* width: 375px; */
  }
  .head .text h1 {
    font-size: 50px;
    line-height: 50px;
    width: 343px;
  }
  .head .logo {
    padding: 32px 16px 0;
  }
  [class^="bg-pattern"] {
    display: none;
  }
  .head .text .btn-2 {
    margin-top: 40px;
  }
  .container-img {
    left: 40px;
  }
  .container-img img {
    width: 298px;
    height: 178px;
  }
  .main-section .offers {
    gap: 48px;
    width: 573px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    transform: translateY(100px);
  }
  .offer {
    flex-direction: column;
    gap: 24px;
  }

  .nbr {
    margin-right: 20px;
  }

  .offer-content {
    text-align: center;
  }
  .footer .center {
    margin-left: 0;
    flex-direction: column;
  }
  .footer .center > img {
    width: 281px;
    height: 281px;
  }
  .footer-text {
    padding: 32px;
    width: 343px;
    height: auto;
    transform: translate(0, -53px);
  }
  .footer h2 {
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 16px !important;
  }
  .footer-text > *:not(button) {
    margin-bottom: 24px;
  }
  .logo-footer {
    margin: 24px 0 64px;
  }
}
